


body{
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  margin:0 auto;
  max-width: 1920px;
  line-height: 15px;
  padding:0;
  color:#010000;
  background: #fff;
}
#container
{
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  background: #efefef; 
    
}
a{
   text-decoration: none;
   font-size:18px;
   line-height:22px;
    color:#010000;
    cursor:pointer;
    
}

#headerdiv{
  width:1000px;
	height:100px;
	margin:auto;
}

#headerdiv h2{
color:#5B2C6F;
margin-left:323px;
font-stretch: expanded;
font-size: 50px;

}

.success{

  color:yellow;
}

#home{
  width:1000px;
	height:100px;
	margin:auto;
}

#contact{
  width:1000px;
	height:100px;
	margin:auto;
}
#about{
  width:1000px;
	height:100px;
	margin:auto;
}
#states{
  width:1000px;
	height:100px;
	margin:auto;
}

#stateview{
  width:1000px;
	height:100px;
	margin:auto;
}

#stateedit{
  width:1000px;
	height:100px;
	margin:auto;
  margin-top: 20px;
}

#statesloader{
  width:1000px;
	height:100px;
	margin:auto;
}

#states h2{

  margin-left:357px;
  font-stretch: expanded;
  font-size: 40px;
}

#stateedit h2{

  margin-left:357px;
  font-stretch: expanded;
  font-size: 40px;
}
#stateview h2{

  margin-left:357px;
  font-stretch: expanded;
  font-size: 40px;
}


#states table {
width: 80%;

margin:auto;
}



/* #states table tr:hover{

   background-color:#5B2C6F;
} */


#states table tr:nth-child(even) {background-color: #f2f2f2;}

#states table tr td{

 
text-align: left;
padding: 15px;
border-bottom: 1px solid #ddd;
}

#states table tr td img{
  width:16px;
  height:29px;
  
}



#states table thead tr th{
  
  background-color: #4CAF50;
  color: white;  
  height:29px;
  text-align: left;
  
}


#stateview table {
  width: 80%;
  
  margin:auto;
  }
  
  #stateedit table {
    width: 80%;
    
    margin:auto;
    }

    #stateedit table tr td{

      text-align: left;
      padding: 15px;
      border-bottom: 1px solid #ddd;
      }


      
    #stateedit table tr td input {
    
      border:0px;

      }
      
      
#stateview table tr td{

  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  }
  


#headerdiv a{
  text-decoration:none;	
  color:white;
  padding:8px;
  margin:5px;
  font-size:18px;
  font-family:COMIC SANS MS;	
  }
  
#headerdiv  a:hover{color:yellow; font-weight:bolder;}

 #headerdiv ul{
	width:1000px;
	height:50px;
	color:white;	
  background:#5B2C6F;
  line-height:40px;
}



.updatebutton{border:none;display:inline-block;outline:0;padding:6px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:#fff;background-color:#5B2C6F;text-align:center;cursor:pointer;white-space:nowrap;margin-left: 200px;
  margin-top: 50px;}

.updatebutton:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}

.updatebutton{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none} 


